flow
[
    {
        "id": "55f7124b4ebc4ec0",
        "type": "tab",
        "label": "Экран",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35c26c57.de9424",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": true,
        "hostType": "0",
        "bridge": "f79790b7b344b6e1",
        "accessoryId": "",
        "parentService": "",
        "name": "Яркость панели",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"Brightness\":true}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "b16741963b21d8d2"
            ],
            []
        ]
    },
    {
        "id": "359bc9ed.ba6226",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Яркость панели",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "8e651512.0b5ce8",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To HK",
        "func": "if(msg.topic == \"user/bulava92/WiFiPanel-0/stt/BR\"){\n    var val = msg.payload;\n    msg.payload = {\n        \"Brightness\":val\n    }\n    return [msg];\n}\nif(msg.topic == \"user/bulava92/WiFiPanel-0/stt/PS\"){\n    if(msg.payload == \"true\"){\n        msg.payload = {\n            \"On\":true\n        }\n        return [msg];\n    }\n    if(msg.payload == \"false\"){\n        msg.payload = {\n            \"On\":false\n        }\n        return [msg];\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "35c26c57.de9424"
            ]
        ]
    },
    {
        "id": "a3528d55.36777",
        "type": "mqtt in",
        "z": "55f7124b4ebc4ec0",
        "name": "BRI",
        "topic": "user/bulava92/WiFiPanel-0/stt/BR",
        "qos": "1",
        "datatype": "auto",
        "broker": "a12eec9c.34999",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "737f92a06e87eec5"
            ]
        ]
    },
    {
        "id": "737f92a06e87eec5",
        "type": "range",
        "z": "55f7124b4ebc4ec0",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "8e651512.0b5ce8"
            ]
        ]
    },
    {
        "id": "93ab577981ceb179",
        "type": "mqtt in",
        "z": "55f7124b4ebc4ec0",
        "name": "Effect",
        "topic": "user/bulava92/WiFiPanel-0/stt/EF",
        "qos": "1",
        "datatype": "auto",
        "broker": "a12eec9c.34999",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 90,
        "y": 1700,
        "wires": [
            [
                "b5c6ca8595e37761",
                "b4e35beab2aa656f"
            ]
        ]
    },
    {
        "id": "b177bd0350ee3d53",
        "type": "mqtt in",
        "z": "55f7124b4ebc4ec0",
        "name": "On/Off",
        "topic": "user/bulava92/WiFiPanel-0/stt/PS",
        "qos": "1",
        "datatype": "auto",
        "broker": "a12eec9c.34999",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 90,
        "y": 1760,
        "wires": [
            [
                "0452c8ffed357b8a"
            ]
        ]
    },
    {
        "id": "0452c8ffed357b8a",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To homekit",
        "func": "if(msg.topic == \"user/bulava92/WiFiPanel-0/stt/PS\"){\n    if(msg.payload == \"true\"){\n        msg.payload = {\n            \"On\":true\n        }\n        return [msg];\n    }\n    if(msg.payload == \"false\"){\n        msg.payload = {\n            \"On\":false\n        }\n        return [msg];\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1760,
        "wires": [
            [
                "83fb990e2992caa2"
            ]
        ]
    },
    {
        "id": "9c58dba978d1c7b7",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 1,\n \"ConfiguredName\": \"Снегопад\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1820,
        "wires": [
            [
                "74e3f1ddf0b8ea80"
            ]
        ]
    },
    {
        "id": "6d98d47bf7eea605",
        "type": "inject",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 145,
        "y": 1820,
        "wires": [
            [
                "9c58dba978d1c7b7",
                "bae2db6512c752a2",
                "f09547190d2b6070",
                "e556c5379ed37a8a",
                "803ce291186952b7",
                "3eb5a86e4beeefc2",
                "b98dbb3c578b5862",
                "0767f0814667b22f",
                "6bc44f063f875392",
                "c55d5ae47343f4eb",
                "ea1850cf3a073263",
                "5e66532c240f4858",
                "6dcc649ad50454c5",
                "561c8e723886440d",
                "10a31dff9ad762fe",
                "27d46e01c10e06c6",
                "14fe4b78bc0ea069",
                "697575ac37f83909",
                "2c01eabbf44e0905"
            ]
        ]
    },
    {
        "id": "bae2db6512c752a2",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 2,\n \"ConfiguredName\": \"Дождь\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1860,
        "wires": [
            [
                "03c6c689d4c83481"
            ]
        ]
    },
    {
        "id": "f09547190d2b6070",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 3,\n \"ConfiguredName\": \"Камин\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1900,
        "wires": [
            [
                "060692f25861291f"
            ]
        ]
    },
    {
        "id": "eb94a36d6f8e2474",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To MQTT",
        "func": "if(msg.hap.context !== undefined){\n\nif(msg.payload.ActiveIdentifier === 1){return [null,{payload: \"$8 0 2;\"}];}\nif(msg.payload.ActiveIdentifier === 2){return [null,{payload: \"$8 0 35;\"}];}\nif(msg.payload.ActiveIdentifier === 3){return [null,{payload: \"$8 0 36;\"}];}\nif(msg.payload.ActiveIdentifier === 4){return [null,{payload: \"$8 0 6;\"}];}\nif(msg.payload.ActiveIdentifier === 5){return [null,{payload: \"$8 0 10;\"}];}\nif(msg.payload.ActiveIdentifier === 6){return [null,{payload: \"$8 0 33;\"}];}\nif(msg.payload.ActiveIdentifier === 7){return [null,{payload: \"$8 0 7;\"}];}\nif(msg.payload.ActiveIdentifier === 8){return [null,{payload: \"$8 0 21;\"}];}\nif(msg.payload.ActiveIdentifier === 9){return [null,{payload: \"$14 8;\"}];}\nif(msg.payload.ActiveIdentifier === 10){return [null,{payload: \"$8 0 38;\"}];}\nif(msg.payload.ActiveIdentifier === 11){return [null,{payload: \"$8 0 0;\"}];}\nif(msg.payload.ActiveIdentifier === 12){return [null,{payload: \"$8 0 39;\"}];}\nif(msg.payload.ActiveIdentifier === 13){return [null,{payload: \"$8 0 29;\"}];}\nif(msg.payload.ActiveIdentifier === 14){return [null,{payload: \"$8 0 23;\"}];}\nif(msg.payload.ActiveIdentifier === 15){return [null,{payload: \"$8 0 18;\"}];}\nif(msg.payload.ActiveIdentifier === 16){return [null,{payload: \"$8 0 15;\"}];}\nif(msg.payload.ActiveIdentifier === 17){return [null,{payload: \"$8 0 13;\"}];}\nif(msg.payload.ActiveIdentifier === 18){return [null,{payload: \"$8 0 28;\"}];}\nif(msg.payload.ActiveIdentifier === 19){return [null,{payload: \"$8 0 27;\"}];}\nif(msg.payload.Active === 1){return [{payload: \"$1 1;\"},null];}\nif(msg.payload.Active === 0){return [{payload: \"$1 0;\"},null];}\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1680,
        "wires": [
            [
                "0c03460c1703c5fc"
            ],
            [
                "c7db15e7c33f2f6c"
            ]
        ]
    },
    {
        "id": "0c03460c1703c5fc",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "On/Off",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 765,
        "y": 1645,
        "wires": []
    },
    {
        "id": "c7db15e7c33f2f6c",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "Effect",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 765,
        "y": 1705,
        "wires": []
    },
    {
        "id": "b5c6ca8595e37761",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Effect to HK",
        "func": "if(msg.payload === '2') return {payload: '1'};\nif(msg.payload === '35') return {payload: '2'};\nif(msg.payload === '36') return {payload: '3'};\nif(msg.payload === '6') return {payload: '4'};\nif(msg.payload === '10') return {payload: '5'};\nif(msg.payload === '33') return {payload: '6'};\nif(msg.payload === '7') return {payload: '7'};\nif(msg.payload === '21') return {payload: '8'};\nif(msg.payload === '') return {payload: '9'};\nif(msg.payload === '38') return {payload: '10'};\nif(msg.payload === '0') return {payload: '11'};\nif(msg.payload === '39') return {payload: '12'};\nif(msg.payload === '29') return {payload: '13'};\nif(msg.payload === '23') return {payload: '14'};\nif(msg.payload === '18') return {payload: '15'};\nif(msg.payload === '15') return {payload: '16'};\nif(msg.payload === '13') return {payload: '17'};\nif(msg.payload === '28') return {payload: '18'};\nif(msg.payload === '27') return {payload: '19'};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1700,
        "wires": [
            [
                "cd8688e18057a99e"
            ]
        ]
    },
    {
        "id": "cd8688e18057a99e",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "ActiveIdentifier",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ActiveIdentifier",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1700,
        "wires": [
            [
                "83fb990e2992caa2"
            ]
        ]
    },
    {
        "id": "598991083e9f9583",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Панель эффекты (Television)",
        "info": "",
        "x": 160,
        "y": 1535,
        "wires": []
    },
    {
        "id": "e556c5379ed37a8a",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 4,\n \"ConfiguredName\": \"Огонь\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1940,
        "wires": [
            [
                "d07f6dab23e19a5b"
            ]
        ]
    },
    {
        "id": "803ce291186952b7",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 5,\n \"ConfiguredName\": \"Конфетти\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1980,
        "wires": [
            [
                "03b95845c2c7bec7"
            ]
        ]
    },
    {
        "id": "3eb5a86e4beeefc2",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 6,\n \"ConfiguredName\": \"Синусы\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2020,
        "wires": [
            [
                "70f1d21b0027123f"
            ]
        ]
    },
    {
        "id": "b98dbb3c578b5862",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 7,\n \"ConfiguredName\": \"Матрица\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2060,
        "wires": [
            [
                "fbde15f0fac2b560"
            ]
        ]
    },
    {
        "id": "0767f0814667b22f",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 8,\n \"ConfiguredName\": \"Светлячки\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2100,
        "wires": [
            [
                "fb465607c8a6b0aa"
            ]
        ]
    },
    {
        "id": "6bc44f063f875392",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 9,\n \"ConfiguredName\": \"Ночные часы\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2140,
        "wires": [
            [
                "fec8d256d36faa30"
            ]
        ]
    },
    {
        "id": "c55d5ae47343f4eb",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 10,\n \"ConfiguredName\": \"Анимация\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2180,
        "wires": [
            [
                "517385af22ea4d85"
            ]
        ]
    },
    {
        "id": "ea1850cf3a073263",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 11,\n \"ConfiguredName\": \"Простые часы\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2220,
        "wires": [
            [
                "c9d626bb27b656f9"
            ]
        ]
    },
    {
        "id": "5e66532c240f4858",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 12,\n \"ConfiguredName\": \"Погода\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2260,
        "wires": [
            [
                "c9d375c802b9e912"
            ]
        ]
    },
    {
        "id": "6dcc649ad50454c5",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 13,\n \"ConfiguredName\": \"Тетрис\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2300,
        "wires": [
            [
                "6109e512ae9a9556"
            ]
        ]
    },
    {
        "id": "561c8e723886440d",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 14,\n \"ConfiguredName\": \"Циклон\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2340,
        "wires": [
            [
                "a18777d45b7fe8ad"
            ]
        ]
    },
    {
        "id": "10a31dff9ad762fe",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 15,\n \"ConfiguredName\": \"Шумящий лес\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2380,
        "wires": [
            [
                "f73472440a3136cb"
            ]
        ]
    },
    {
        "id": "27d46e01c10e06c6",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 16,\n \"ConfiguredName\": \"Радуга\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2420,
        "wires": [
            [
                "676f82e93a86a0fa"
            ]
        ]
    },
    {
        "id": "14fe4b78bc0ea069",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 17,\n \"ConfiguredName\": \"Лава\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2460,
        "wires": [
            [
                "ddc61e0a07be9139"
            ]
        ]
    },
    {
        "id": "b24654a806d2174c",
        "type": "range",
        "z": "55f7124b4ebc4ec0",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "b44d31614e1514cc"
            ]
        ]
    },
    {
        "id": "de628fd187f01f4d",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "2ca447a9a89176be",
        "type": "template",
        "z": "55f7124b4ebc4ec0",
        "name": "Преобразование",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "$4 0 {{payload}};",
        "output": "str",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "de628fd187f01f4d"
            ]
        ]
    },
    {
        "id": "b16741963b21d8d2",
        "type": "split",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 830,
        "y": 100,
        "wires": [
            [
                "b24654a806d2174c"
            ]
        ]
    },
    {
        "id": "b44d31614e1514cc",
        "type": "delay",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "2ca447a9a89176be"
            ],
            []
        ]
    },
    {
        "id": "74e3f1ddf0b8ea80",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Снегопад",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 1820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "03c6c689d4c83481",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Дождь",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 1860,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "060692f25861291f",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Камин",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 490,
        "y": 1900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d07f6dab23e19a5b",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Огонь",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 490,
        "y": 1940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "03b95845c2c7bec7",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Конфетти",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 510,
        "y": 1980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "70f1d21b0027123f",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Синусы",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 2020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fbde15f0fac2b560",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Матрица",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 2060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fb465607c8a6b0aa",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Светлячки",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 510,
        "y": 2100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fec8d256d36faa30",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Ночные часы",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 520,
        "y": 2140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "517385af22ea4d85",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Анимация",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 510,
        "y": 2180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c9d626bb27b656f9",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Простые часы",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 520,
        "y": 2220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c9d375c802b9e912",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Погода",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 2260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6109e512ae9a9556",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Тетрис",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 2300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a18777d45b7fe8ad",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Циклон",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 2340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f73472440a3136cb",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Шумящий лес",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 520,
        "y": 2380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "676f82e93a86a0fa",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Радуга",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 2420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ddc61e0a07be9139",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Лава",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 490,
        "y": 2460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "83fb990e2992caa2",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": true,
        "hostType": "0",
        "bridge": "f79790b7b344b6e1",
        "accessoryId": "",
        "parentService": "",
        "name": "Панель ",
        "serviceName": "Television",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"ActiveIdentifier\":1,\"Characteristic.InputSourceType\": \"InputSourceType\"}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 400,
        "y": 1760,
        "wires": [
            [
                "eb94a36d6f8e2474",
                "4f439609a5adc3e1"
            ],
            []
        ]
    },
    {
        "id": "6a7214dbccb80c39",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": true,
        "hostType": "0",
        "bridge": "f79790b7b344b6e1",
        "accessoryId": "",
        "parentService": "",
        "name": "Наложение часов",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1850,
        "y": 580,
        "wires": [
            [
                "6778b1cd6812f6fe"
            ],
            []
        ]
    },
    {
        "id": "4eb13ff727113007",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To HK",
        "func": "if(msg.topic == \"user/bulava92/WiFiPanel-0/stt/UC\"){\n    if(msg.payload == \"true\"){\n        msg.payload = {\n            \"On\":true\n        }\n        return [msg];\n    }\n    if(msg.payload == \"false\"){\n        msg.payload = {\n            \"On\":false\n        }\n        return [msg];\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 580,
        "wires": [
            [
                "6a7214dbccb80c39"
            ]
        ]
    },
    {
        "id": "74ab2bb77c563ab7",
        "type": "mqtt in",
        "z": "55f7124b4ebc4ec0",
        "name": "On/Off",
        "topic": "user/bulava92/WiFiPanel-0/stt/UC",
        "qos": "1",
        "datatype": "auto",
        "broker": "a12eec9c.34999",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 1530,
        "y": 580,
        "wires": [
            [
                "4eb13ff727113007"
            ]
        ]
    },
    {
        "id": "9bfc0083040891d4",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Часы поверх эффекта",
        "info": "",
        "x": 1580,
        "y": 540,
        "wires": []
    },
    {
        "id": "6778b1cd6812f6fe",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To MQTT",
        "func": "if(msg.hap.context !== undefined){\n    if(msg.payload.On === true){\n        return [{\"payload\":\"$19 1 1;\"}];\n    }\n    if(msg.payload.On === false){\n        return [{\"payload\":\"$19 1 0;\"}];\n    }\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 580,
        "wires": [
            [
                "a0137794fc77d4c0",
                "d17749a0cef78e75"
            ],
            []
        ]
    },
    {
        "id": "6360cf4de808fcbb",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": true,
        "hostType": "0",
        "bridge": "f79790b7b344b6e1",
        "accessoryId": "",
        "parentService": "",
        "name": "Размер часов",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1840,
        "y": 980,
        "wires": [
            [
                "a03c57427c46ca90"
            ],
            []
        ]
    },
    {
        "id": "4026848124cda942",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To HK",
        "func": "if(msg.topic == \"user/bulava92/WiFiPanel-0/stt/PS\"){\n    if(msg.payload == \"1\"){\n        msg.payload = {\n            \"On\":true\n        }\n        return [msg];\n    }\n    if(msg.payload == \"2\"){\n        msg.payload = {\n            \"On\":false\n        }\n        return [msg];\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 980,
        "wires": [
            [
                "6360cf4de808fcbb"
            ]
        ]
    },
    {
        "id": "e1704c02257e3e31",
        "type": "mqtt in",
        "z": "55f7124b4ebc4ec0",
        "name": "On/Off",
        "topic": "user/bulava92/WiFiPanel-0/stt/CK",
        "qos": "1",
        "datatype": "auto",
        "broker": "a12eec9c.34999",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 1530,
        "y": 980,
        "wires": [
            [
                "4026848124cda942"
            ]
        ]
    },
    {
        "id": "091cf30a25943243",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Размер часов",
        "info": "",
        "x": 1560,
        "y": 940,
        "wires": []
    },
    {
        "id": "445fff96857c8282",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "On/Off",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 2170,
        "y": 980,
        "wires": []
    },
    {
        "id": "a03c57427c46ca90",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To MQTT",
        "func": "if(msg.hap.context !== undefined){\n    if(msg.payload.On === true){\n        return [{\"payload\":\"$19 7 2;\"}];\n    }\n    if(msg.payload.On === false){\n        return [{\"payload\":\"$19 7 1;\"}];\n    }\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 980,
        "wires": [
            [
                "445fff96857c8282"
            ],
            []
        ]
    },
    {
        "id": "ac0231a6383f52a6",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 1070,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0a2a7ec6545cb443",
        "type": "color-convert",
        "z": "55f7124b4ebc4ec0",
        "input": "hsv",
        "output": "hex",
        "outputType": "string",
        "scaleInput": false,
        "x": 410,
        "y": 1220,
        "wires": [
            [
                "e64e07b18b0c1781"
            ]
        ]
    },
    {
        "id": "e64e07b18b0c1781",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To HK",
        "func": "msg.payload = msg.payload.slice(\"1\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1220,
        "wires": [
            [
                "3ad32c8b9deba0e5"
            ]
        ]
    },
    {
        "id": "3ad32c8b9deba0e5",
        "type": "template",
        "z": "55f7124b4ebc4ec0",
        "name": "Преобразование",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "$5 0 {{payload}};",
        "output": "str",
        "x": 750,
        "y": 1220,
        "wires": [
            [
                "ac0231a6383f52a6",
                "c5a80f5ae54a0d48"
            ]
        ]
    },
    {
        "id": "2ca0527a0ba1c7d2",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Output",
        "func": "var Hue = flow.get('Hue')||0;\nvar Saturation = flow.get('Saturation')||0;\nvar Brightness = flow.get('Brightness')||100;\n\nif(msg.payload.Hue){\n    Hue = msg.payload.Hue;\n    flow.set('Hue',Hue);\n}\nif(msg.payload.Saturation){\n    Saturation = msg.payload.Saturation;\n    flow.set('Saturation',Saturation);\n}\nif (msg.hap.context !== undefined) {\n    if(msg.payload.On === true){\n        return [{\"payload\":[Hue,Saturation,Brightness]}]\n    }\n    if(msg.payload.On === false){\n        return [{\"payload\":[0,0,0]}]\n    }\n    else{\n        return [{\"payload\":[Hue,Saturation,Brightness]}]\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1220,
        "wires": [
            [
                "0a2a7ec6545cb443"
            ]
        ]
    },
    {
        "id": "c5a80f5ae54a0d48",
        "type": "trigger",
        "z": "55f7124b4ebc4ec0",
        "name": "2 Sec",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 650,
        "y": 1280,
        "wires": [
            [
                "388735f13c4b2e64"
            ]
        ]
    },
    {
        "id": "568a4869be6dd342",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$5 2;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1280,
        "wires": [
            [
                "ac0231a6383f52a6"
            ]
        ]
    },
    {
        "id": "4ed9249e9d69c17e",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": true,
        "hostType": "0",
        "bridge": "f79790b7b344b6e1",
        "accessoryId": "",
        "parentService": "",
        "name": "Заливка",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{    \"Hue\":true,    \"Saturation\":true}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 100,
        "y": 1220,
        "wires": [
            [
                "2ca0527a0ba1c7d2",
                "d3583dd57dead208"
            ],
            []
        ]
    },
    {
        "id": "d3583dd57dead208",
        "type": "split",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "66f93bbbae4828b4"
            ]
        ]
    },
    {
        "id": "66f93bbbae4828b4",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 1300,
        "wires": [
            [
                "7cdd6eacb49afd40"
            ],
            [
                "b5e98f6937d7b38a",
                "540508a41c466af7"
            ]
        ]
    },
    {
        "id": "b5e98f6937d7b38a",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Off (простые часы)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$14 10;",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1340,
        "wires": [
            [
                "ac0231a6383f52a6"
            ]
        ]
    },
    {
        "id": "388735f13c4b2e64",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "Status",
        "property": "status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 1280,
        "wires": [
            [
                "568a4869be6dd342"
            ]
        ],
        "outputLabels": [
            "Morning"
        ]
    },
    {
        "id": "7cdd6eacb49afd40",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "540508a41c466af7",
        "type": "trigger",
        "z": "55f7124b4ebc4ec0",
        "name": "2 Sec",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 1360,
        "wires": [
            [
                "b5e98f6937d7b38a"
            ]
        ]
    },
    {
        "id": "8e43bd02bfff62e4",
        "type": "alice-local-out",
        "z": "55f7124b4ebc4ec0",
        "name": "Команда",
        "token": "ef117c6a94a91c1d",
        "station_id": "M1028Q100N7RPK",
        "debugFlag": false,
        "input": "voice",
        "payload": "payload",
        "payloadType": "msg",
        "volume": "50",
        "volumeFlag": false,
        "stopListening": true,
        "pauseMusic": false,
        "noTrack": "",
        "whisper": false,
        "ttsVoice": "",
        "ttsEffect": "",
        "x": 2080,
        "y": 360,
        "wires": []
    },
    {
        "id": "86a67c869200955b",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Текст",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Включи звуки костра",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1930,
        "y": 360,
        "wires": [
            [
                "8e43bd02bfff62e4"
            ]
        ]
    },
    {
        "id": "88aa8563c8f1fd08",
        "type": "On_Off",
        "z": "55f7124b4ebc4ec0",
        "device": "4897105103358b08",
        "name": "Системная:Камин",
        "retrievable": true,
        "response": true,
        "x": 1600,
        "y": 300,
        "wires": [
            [
                "3a51a6e7e2b69daa"
            ]
        ]
    },
    {
        "id": "3a51a6e7e2b69daa",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "True",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1690,
        "y": 240,
        "wires": [
            [
                "a7715e5529a8b531",
                "8e9cf29aab528bea",
                "86a67c869200955b"
            ],
            [
                "1256e295f5ace044",
                "8fa61fb0188a690d",
                "fdec02b8534acfa1"
            ]
        ]
    },
    {
        "id": "eaa7c73492086adb",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Сценарий - Камин on",
        "info": "",
        "x": 1580,
        "y": 60,
        "wires": []
    },
    {
        "id": "91ce5d3e5aa93690",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 2210,
        "y": 160,
        "wires": []
    },
    {
        "id": "a7715e5529a8b531",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "EF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$8 0 36;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1930,
        "y": 120,
        "wires": [
            [
                "91ce5d3e5aa93690"
            ]
        ]
    },
    {
        "id": "dda7e1bb24315f1a",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "BR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$4 0 80",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 200,
        "wires": [
            [
                "91ce5d3e5aa93690"
            ]
        ]
    },
    {
        "id": "8e9cf29aab528bea",
        "type": "trigger",
        "z": "55f7124b4ebc4ec0",
        "name": "4 Sec",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "4",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1930,
        "y": 200,
        "wires": [
            [
                "dda7e1bb24315f1a"
            ]
        ]
    },
    {
        "id": "1256e295f5ace044",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Текст",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Выключи звук",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1930,
        "y": 320,
        "wires": [
            [
                "8e43bd02bfff62e4"
            ]
        ]
    },
    {
        "id": "fdec02b8534acfa1",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "EF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$14 8;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1930,
        "y": 160,
        "wires": [
            [
                "91ce5d3e5aa93690"
            ]
        ]
    },
    {
        "id": "bfc5bbec348eba3a",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "BR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$4 0 6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 280,
        "wires": [
            [
                "91ce5d3e5aa93690"
            ]
        ]
    },
    {
        "id": "8fa61fb0188a690d",
        "type": "trigger",
        "z": "55f7124b4ebc4ec0",
        "name": "4 Sec",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "4",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1930,
        "y": 280,
        "wires": [
            [
                "bfc5bbec348eba3a"
            ]
        ]
    },
    {
        "id": "3e2c953e190cd1c9",
        "type": "On_Off",
        "z": "55f7124b4ebc4ec0",
        "device": "3603b685fc379e9b",
        "name": "Системная:Часы",
        "retrievable": true,
        "response": true,
        "x": 1890,
        "y": 660,
        "wires": [
            [
                "9ecc90e2b9930b5b"
            ]
        ]
    },
    {
        "id": "3a697c84cff62d49",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 680,
        "wires": [
            [
                "3e2c953e190cd1c9"
            ]
        ]
    },
    {
        "id": "af75dabcc585f129",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 640,
        "wires": [
            [
                "3e2c953e190cd1c9"
            ]
        ]
    },
    {
        "id": "d17749a0cef78e75",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "$19 1 1;",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "$19 1 0;",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1550,
        "y": 660,
        "wires": [
            [
                "af75dabcc585f129"
            ],
            [
                "3a697c84cff62d49"
            ]
        ]
    },
    {
        "id": "a0137794fc77d4c0",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 2430,
        "y": 580,
        "wires": []
    },
    {
        "id": "4968d4dd475ba2b6",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"On\":false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 720,
        "wires": [
            [
                "6a7214dbccb80c39"
            ]
        ]
    },
    {
        "id": "298fa8e5a7617596",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"On\":true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 640,
        "wires": [
            [
                "6a7214dbccb80c39"
            ]
        ]
    },
    {
        "id": "9ecc90e2b9930b5b",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2070,
        "y": 700,
        "wires": [
            [
                "298fa8e5a7617596",
                "50b4d3687e78b1b2"
            ],
            [
                "4968d4dd475ba2b6",
                "c984cf2c2a7b2871"
            ]
        ]
    },
    {
        "id": "50b4d3687e78b1b2",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$19 1 1;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 680,
        "wires": [
            [
                "a0137794fc77d4c0"
            ]
        ]
    },
    {
        "id": "c984cf2c2a7b2871",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$19 1 0;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 760,
        "wires": [
            [
                "a0137794fc77d4c0"
            ]
        ]
    },
    {
        "id": "4eefbde03271fb14",
        "type": "On_Off",
        "z": "55f7124b4ebc4ec0",
        "device": "c7f79771bf1661fa",
        "name": "Системная:Панель",
        "retrievable": true,
        "response": true,
        "x": 460,
        "y": 1620,
        "wires": [
            [
                "f658f570aecb679b",
                "07825629738f0809"
            ]
        ]
    },
    {
        "id": "07825629738f0809",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "True",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 1560,
        "wires": [
            [
                "95a221da0a27f69c"
            ]
        ]
    },
    {
        "id": "f658f570aecb679b",
        "type": "trigger",
        "z": "55f7124b4ebc4ec0",
        "name": "Timer",
        "op1": "",
        "op2": "false",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 390,
        "y": 1560,
        "wires": [
            [
                "4eefbde03271fb14"
            ]
        ]
    },
    {
        "id": "95a221da0a27f69c",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$1 0;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1560,
        "wires": [
            [
                "0c03460c1703c5fc"
            ]
        ]
    },
    {
        "id": "f1772caa88c287ee",
        "type": "On_Off",
        "z": "55f7124b4ebc4ec0",
        "device": "09e2a94cbbb7897e",
        "name": "Системная:Ночные часы",
        "retrievable": true,
        "response": true,
        "x": 1620,
        "y": 1200,
        "wires": [
            [
                "09d82c764b0fd3dc"
            ]
        ]
    },
    {
        "id": "09d82c764b0fd3dc",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "True",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1850,
        "y": 1200,
        "wires": [
            [
                "78f50b918db36b62",
                "c93d55648889ab9e"
            ],
            [
                "99d8433a2fbe0699",
                "cfeec63791d7f6e8"
            ]
        ]
    },
    {
        "id": "ab470eecfc848902",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Ночные часы",
        "info": "",
        "x": 1550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a1676f66a99faa3e",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 2250,
        "y": 1220,
        "wires": []
    },
    {
        "id": "78f50b918db36b62",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "EF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$14 8;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1990,
        "y": 1200,
        "wires": [
            [
                "a1676f66a99faa3e"
            ]
        ]
    },
    {
        "id": "c93d55648889ab9e",
        "type": "trigger",
        "z": "55f7124b4ebc4ec0",
        "name": "4 Sec",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "4",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1990,
        "y": 1140,
        "wires": [
            [
                "81687bd231889c3a"
            ]
        ]
    },
    {
        "id": "81687bd231889c3a",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "RZ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$19 7 1;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2130,
        "y": 1140,
        "wires": [
            [
                "a1676f66a99faa3e"
            ]
        ]
    },
    {
        "id": "99d8433a2fbe0699",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "EF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$8 0 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1990,
        "y": 1240,
        "wires": [
            [
                "a1676f66a99faa3e"
            ]
        ]
    },
    {
        "id": "cfeec63791d7f6e8",
        "type": "trigger",
        "z": "55f7124b4ebc4ec0",
        "name": "4 Sec",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "4",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1990,
        "y": 1280,
        "wires": [
            [
                "0a5331b063433f34"
            ]
        ]
    },
    {
        "id": "0a5331b063433f34",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "RZ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$19 7 2;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2130,
        "y": 1280,
        "wires": [
            [
                "a1676f66a99faa3e"
            ]
        ]
    },
    {
        "id": "979207ad14fb53c6",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Заливка цветом",
        "info": "",
        "x": 120,
        "y": 1180,
        "wires": []
    },
    {
        "id": "22e4eeec32e7ec9c",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Effect",
        "rules": [
            {
                "t": "set",
                "p": "effect",
                "pt": "msg",
                "to": "effect",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "a0d8619c2cee3602"
            ]
        ]
    },
    {
        "id": "01156dc204dfd164",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": true,
        "hostType": "0",
        "bridge": "f79790b7b344b6e1",
        "accessoryId": "",
        "parentService": "",
        "name": "Вид эффекта",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"Brightness\":true}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "9368b5e1e298dbe1"
            ],
            []
        ]
    },
    {
        "id": "28b82c44168c67e6",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Параметр эффекта - вариант 1",
        "info": "",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2b959d31509ae39",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To HK",
        "func": "if(msg.topic == \"user/bulava92/WiFiPanel-0/stt/SS\"){\n    var val = msg.payload;\n    msg.payload = {\n        \"Brightness\":val\n    }\n    return [msg];\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 380,
        "wires": [
            [
                "01156dc204dfd164"
            ]
        ]
    },
    {
        "id": "f6b9ce889f5623f3",
        "type": "mqtt in",
        "z": "55f7124b4ebc4ec0",
        "name": "ST",
        "topic": "user/bulava92/WiFiPanel-0/stt/SS",
        "qos": "1",
        "datatype": "auto",
        "broker": "a12eec9c.34999",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 90,
        "y": 380,
        "wires": [
            [
                "1a04ddfdc344ed85"
            ]
        ]
    },
    {
        "id": "033dd2dedf5f413d",
        "type": "range",
        "z": "55f7124b4ebc4ec0",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1100,
        "y": 380,
        "wires": [
            [
                "740da1ee05bf44ad"
            ]
        ]
    },
    {
        "id": "9368b5e1e298dbe1",
        "type": "split",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 930,
        "y": 380,
        "wires": [
            [
                "033dd2dedf5f413d"
            ]
        ]
    },
    {
        "id": "740da1ee05bf44ad",
        "type": "delay",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "22e4eeec32e7ec9c"
            ],
            []
        ]
    },
    {
        "id": "8f577eb3a154551b",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 1030,
        "y": 440,
        "wires": []
    },
    {
        "id": "a0d8619c2cee3602",
        "type": "template",
        "z": "55f7124b4ebc4ec0",
        "name": "Преобразование ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "$8 1 {{effect}} {{payload}};",
        "output": "str",
        "x": 850,
        "y": 440,
        "wires": [
            [
                "8f577eb3a154551b"
            ]
        ]
    },
    {
        "id": "b4e35beab2aa656f",
        "type": "split",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 110,
        "y": 1640,
        "wires": [
            [
                "4950a1c955588339"
            ]
        ]
    },
    {
        "id": "4950a1c955588339",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Effect",
        "rules": [
            {
                "t": "set",
                "p": "effect",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "bffbbb90cdd5992e",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Effect",
        "rules": [
            {
                "t": "set",
                "p": "effect",
                "pt": "msg",
                "to": "effect",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 720,
        "wires": [
            [
                "b340635fe587a20a"
            ]
        ]
    },
    {
        "id": "627f15938a16c674",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": true,
        "hostType": "0",
        "bridge": "f79790b7b344b6e1",
        "accessoryId": "",
        "parentService": "",
        "name": "Контраст эффекта",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"Brightness\":true}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 660,
        "wires": [
            [
                "da9ea727f3810fa3"
            ],
            []
        ]
    },
    {
        "id": "a3feb127cc06104e",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Параметр эффекта - контраст",
        "info": "",
        "x": 170,
        "y": 620,
        "wires": []
    },
    {
        "id": "a48d9cc08f58a14c",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To HK",
        "func": "if(msg.topic == \"user/bulava92/WiFiPanel-0/stt/BE\"){\n    var val = msg.payload;\n    msg.payload = {\n        \"Brightness\":val\n    }\n    return [msg];\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 660,
        "wires": [
            [
                "627f15938a16c674"
            ]
        ]
    },
    {
        "id": "03bff7eb30b1ba2c",
        "type": "mqtt in",
        "z": "55f7124b4ebc4ec0",
        "name": "ST",
        "topic": "user/bulava92/WiFiPanel-0/stt/BE",
        "qos": "1",
        "datatype": "auto",
        "broker": "a12eec9c.34999",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "df846c195bc3d29a"
            ]
        ]
    },
    {
        "id": "59a5a00308b575ba",
        "type": "range",
        "z": "55f7124b4ebc4ec0",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1140,
        "y": 660,
        "wires": [
            [
                "ad37e6c1e6b841be"
            ]
        ]
    },
    {
        "id": "da9ea727f3810fa3",
        "type": "split",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 970,
        "y": 660,
        "wires": [
            [
                "59a5a00308b575ba"
            ]
        ]
    },
    {
        "id": "ad37e6c1e6b841be",
        "type": "delay",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 580,
        "y": 720,
        "wires": [
            [
                "bffbbb90cdd5992e"
            ],
            []
        ]
    },
    {
        "id": "e8aa4c91d9505293",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 1130,
        "y": 720,
        "wires": []
    },
    {
        "id": "b340635fe587a20a",
        "type": "template",
        "z": "55f7124b4ebc4ec0",
        "name": "Преобразование ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "$8 6 {{effect}} {{payload}};",
        "output": "str",
        "x": 950,
        "y": 720,
        "wires": [
            [
                "e8aa4c91d9505293"
            ]
        ]
    },
    {
        "id": "e2685d0a425aad3f",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Effect",
        "rules": [
            {
                "t": "set",
                "p": "effect",
                "pt": "msg",
                "to": "effect",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "485740bc7d44751d"
            ]
        ]
    },
    {
        "id": "914cee717deec701",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": true,
        "hostType": "0",
        "bridge": "f79790b7b344b6e1",
        "accessoryId": "",
        "parentService": "",
        "name": "Скорость эффекта",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"Brightness\":true}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 940,
        "wires": [
            [
                "150ea23140996189"
            ],
            []
        ]
    },
    {
        "id": "12d94eec3965063a",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Параметр эффекта - скорость",
        "info": "",
        "x": 170,
        "y": 900,
        "wires": []
    },
    {
        "id": "af8b0f2e6a0298a3",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To HK",
        "func": "if(msg.topic == \"user/bulava92/WiFiPanel-0/stt/SE\"){\n    var val = msg.payload;\n    msg.payload = {\n        \"Brightness\":val\n    }\n    return [msg];\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 940,
        "wires": [
            [
                "914cee717deec701"
            ]
        ]
    },
    {
        "id": "9816f1b49332ca36",
        "type": "mqtt in",
        "z": "55f7124b4ebc4ec0",
        "name": "ST",
        "topic": "user/bulava92/WiFiPanel-0/stt/SE",
        "qos": "1",
        "datatype": "auto",
        "broker": "a12eec9c.34999",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 90,
        "y": 940,
        "wires": [
            [
                "cc4bc65e8ef8aac8"
            ]
        ]
    },
    {
        "id": "4ebf1c9c09e8501c",
        "type": "range",
        "z": "55f7124b4ebc4ec0",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1140,
        "y": 940,
        "wires": [
            [
                "1bdf77ef5e4a5e84"
            ]
        ]
    },
    {
        "id": "150ea23140996189",
        "type": "split",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 970,
        "y": 940,
        "wires": [
            [
                "4ebf1c9c09e8501c"
            ]
        ]
    },
    {
        "id": "1bdf77ef5e4a5e84",
        "type": "delay",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 580,
        "y": 1000,
        "wires": [
            [
                "e2685d0a425aad3f"
            ],
            []
        ]
    },
    {
        "id": "2774c6735ccc0811",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 1130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "485740bc7d44751d",
        "type": "template",
        "z": "55f7124b4ebc4ec0",
        "name": "Преобразование ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "$15 {{payload}} 0;",
        "output": "str",
        "x": 950,
        "y": 1000,
        "wires": [
            [
                "2774c6735ccc0811"
            ]
        ]
    },
    {
        "id": "7947d6ec0eb0d0c0",
        "type": "range",
        "z": "55f7124b4ebc4ec0",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "b2b959d31509ae39"
            ]
        ]
    },
    {
        "id": "7ee965373b06c286",
        "type": "range",
        "z": "55f7124b4ebc4ec0",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "a48d9cc08f58a14c"
            ]
        ]
    },
    {
        "id": "6cb4e1d9e9fffcc0",
        "type": "range",
        "z": "55f7124b4ebc4ec0",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 420,
        "y": 940,
        "wires": [
            [
                "af8b0f2e6a0298a3"
            ]
        ]
    },
    {
        "id": "4f439609a5adc3e1",
        "type": "split",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "1a04ddfdc344ed85",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "X",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "7947d6ec0eb0d0c0"
            ],
            [
                "105d257ad51a7b9c"
            ]
        ]
    },
    {
        "id": "105d257ad51a7b9c",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Сброс",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "7947d6ec0eb0d0c0"
            ]
        ]
    },
    {
        "id": "df846c195bc3d29a",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "X",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 660,
        "wires": [
            [
                "7ee965373b06c286"
            ],
            [
                "62487d0ee73f2547"
            ]
        ]
    },
    {
        "id": "62487d0ee73f2547",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Сброс",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 720,
        "wires": [
            [
                "7ee965373b06c286"
            ]
        ]
    },
    {
        "id": "cc4bc65e8ef8aac8",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "X",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "6cb4e1d9e9fffcc0"
            ],
            [
                "2c1cbc6e8d666006"
            ]
        ]
    },
    {
        "id": "2c1cbc6e8d666006",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "Сброс",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1000,
        "wires": [
            [
                "6cb4e1d9e9fffcc0"
            ]
        ]
    },
    {
        "id": "9e80d0fa354aa40c",
        "type": "Range",
        "z": "55f7124b4ebc4ec0",
        "device": "66813a0fc59d2f0d",
        "name": "Кабинет:Яркость панели",
        "instance": "brightness",
        "unit": "unit.percent",
        "min": "0",
        "max": 100,
        "precision": 1,
        "response": true,
        "retrievable": true,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "e702d333174b08a0"
            ]
        ]
    },
    {
        "id": "e702d333174b08a0",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "To HK",
        "func": "if(msg.payload == msg.payload){\n    var val = msg.payload;\n    msg.payload = {\n        \"Brightness\":val\n    }\n    return [msg];\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            [
                "35c26c57.de9424"
            ]
        ]
    },
    {
        "id": "8fbccb7ddb085837",
        "type": "cronplus",
        "z": "55f7124b4ebc4ec0",
        "name": "23:00",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "23:00",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 23 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 1850,
        "y": 1140,
        "wires": [
            [
                "c93d55648889ab9e",
                "78f50b918db36b62"
            ]
        ]
    },
    {
        "id": "a8c14cea69d85579",
        "type": "cronplus",
        "z": "55f7124b4ebc4ec0",
        "name": "8:00",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "8:00",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 8 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 1850,
        "y": 1280,
        "wires": [
            [
                "99d8433a2fbe0699",
                "cfeec63791d7f6e8",
                "7f7ce64671645f1e"
            ]
        ]
    },
    {
        "id": "7f7ce64671645f1e",
        "type": "trigger",
        "z": "55f7124b4ebc4ec0",
        "name": "6 Sec",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "6",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1990,
        "y": 1340,
        "wires": [
            [
                "c98c4f3be95665d7"
            ]
        ]
    },
    {
        "id": "4dfca51c9dcf3009",
        "type": "server-state-changed",
        "z": "55f7124b4ebc4ec0",
        "name": "Sensor Light",
        "server": "cc8738e99060e154",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.xiaomi_lumi_sen_ill_mgl01_illuminance",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "num",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "senslight",
                "propertyType": "flow",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 1550,
        "y": 1600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c98c4f3be95665d7",
        "type": "switch",
        "z": "55f7124b4ebc4ec0",
        "name": "Sensor Light",
        "property": "senslight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "170",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "170",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1730,
        "y": 1600,
        "wires": [
            [],
            [
                "9ca8964247d3cf89",
                "947c96fe741cd160",
                "a08e04521065cb71"
            ],
            []
        ],
        "outputLabels": [
            null,
            "Morning",
            null
        ]
    },
    {
        "id": "9ca8964247d3cf89",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "5%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$4 0 12;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 1560,
        "wires": [
            [
                "4088fa8af1f3f1f8"
            ]
        ]
    },
    {
        "id": "4088fa8af1f3f1f8",
        "type": "mqtt out",
        "z": "55f7124b4ebc4ec0",
        "name": "SET",
        "topic": "user/bulava92/WiFiPanel-0/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a12eec9c.34999",
        "x": 2290,
        "y": 1600,
        "wires": []
    },
    {
        "id": "5230561364951e47",
        "type": "comment",
        "z": "55f7124b4ebc4ec0",
        "name": "Яркость панели",
        "info": "",
        "x": 1560,
        "y": 1520,
        "wires": []
    },
    {
        "id": "947c96fe741cd160",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "3%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$4 0 5;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 1600,
        "wires": [
            [
                "4088fa8af1f3f1f8"
            ]
        ]
    },
    {
        "id": "a08e04521065cb71",
        "type": "change",
        "z": "55f7124b4ebc4ec0",
        "name": "1%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$4 0 2;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 1640,
        "wires": [
            [
                "4088fa8af1f3f1f8"
            ]
        ]
    },
    {
        "id": "a416d1f5fad168ae",
        "type": "inject",
        "z": "55f7124b4ebc4ec0",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 1750,
        "y": 1660,
        "wires": [
            [
                "9ca8964247d3cf89"
            ]
        ]
    },
    {
        "id": "5cfdc6012bfcf482",
        "type": "inject",
        "z": "55f7124b4ebc4ec0",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 1750,
        "y": 1700,
        "wires": [
            [
                "947c96fe741cd160"
            ]
        ]
    },
    {
        "id": "d1215ae6cc7aa9a9",
        "type": "inject",
        "z": "55f7124b4ebc4ec0",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 1750,
        "y": 1740,
        "wires": [
            [
                "a08e04521065cb71"
            ]
        ]
    },
    {
        "id": "697575ac37f83909",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 18,\n \"ConfiguredName\": \"Змейка\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2500,
        "wires": [
            [
                "97db7b95d5e7c01c"
            ]
        ]
    },
    {
        "id": "97db7b95d5e7c01c",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Змейка",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 500,
        "y": 2500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2c01eabbf44e0905",
        "type": "function",
        "z": "55f7124b4ebc4ec0",
        "name": "Configuration",
        "func": "msg.payload = {\n \"IsConfigured\" : 1,\n \"Identifier\": 19,\n \"ConfiguredName\": \"Лабиринт\",\n \"InputSourceType\": 10\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2540,
        "wires": [
            [
                "baf8914664880fc9"
            ]
        ]
    },
    {
        "id": "baf8914664880fc9",
        "type": "homekit-service",
        "z": "55f7124b4ebc4ec0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "83fb990e2992caa2",
        "name": "Лабиринт",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 510,
        "y": 2540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f79790b7b344b6e1",
        "type": "homekit-bridge",
        "bridgeName": "Node-Red",
        "pinCode": "123-45-678",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "a12eec9c.34999",
        "type": "mqtt-broker",
        "name": "mqtt.by",
        "broker": "mqtt.by",
        "port": "1883",
        "clientid": "NodeRed",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ef117c6a94a91c1d",
        "type": "yandex-login",
        "name": "Мой аккаунт",
        "debugFlag": false
    },
    {
        "id": "4897105103358b08",
        "type": "alice-device",
        "service": "aa4c35d9fb03c43d",
        "name": "Камин",
        "description": "",
        "room": "Системная",
        "dtype": "devices.types.switch"
    },
    {
        "id": "3603b685fc379e9b",
        "type": "alice-device",
        "service": "aa4c35d9fb03c43d",
        "name": "Часы",
        "description": "",
        "room": "Системная",
        "dtype": "devices.types.switch"
    },
    {
        "id": "c7f79771bf1661fa",
        "type": "alice-device",
        "service": "aa4c35d9fb03c43d",
        "name": "Панель",
        "description": "",
        "room": "Системная",
        "dtype": "devices.types.switch"
    },
    {
        "id": "09e2a94cbbb7897e",
        "type": "alice-device",
        "service": "aa4c35d9fb03c43d",
        "name": "Ночные часы",
        "description": "",
        "room": "Системная",
        "dtype": "devices.types.switch"
    },
    {
        "id": "66813a0fc59d2f0d",
        "type": "alice-device",
        "service": "aa4c35d9fb03c43d",
        "name": "Яркость панели",
        "description": "",
        "room": "Кабинет",
        "dtype": "devices.types.light"
    },
    {
        "id": "cc8738e99060e154",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    },
    {
        "id": "aa4c35d9fb03c43d",
        "type": "alice-service",
        "name": "bulava92@bk.ru"
    }
]
